{% extends 'product/layout.html.twig' %}

{% block page_contents %}

<h3>Total Products: {{ total_products }}</h3>

<a href="/product">Add Product</a>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Product</th>
      <th>Category</th>
      <th>Description</th>
      <th>Resource</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td><img src="{{ product.imageUrl }}" width="100px" /></td>
        <td><strong><a href="{{ product.getProductUrl }}" target="_blank">{{ product.code }}</a></strong></td>
        <td>
          {% for category in product.getCategory() %}
              <nobr>{{ category.name }}</nobr><br/>
          {% endfor %}
        </td>
        <td>{{ product.description }}</td>
        <td><strong><a href="{{ product.getResourceUrl }}" target="_blank">View resource</a></strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
