{% extends 'product/layout.html.twig' %}

{% block page_contents %}

<h3>
  Total Products: <span style="color: red;">{{ total_products }}</span>
  {% if category %}
    &nbsp; / &nbsp; Filtering by: <span style="color: red;">{{ category.name|upper }}</span>
    <a href="/product">(clear)</a>
  {% endif %}
</h3>


<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Resource</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
      <tr>
        <td>{{ product.id }}</td>
        <td><img src="{{ product.imageUrl }}" width="100px" /></td>
        <td>
          <strong>
            <a href="{{ product.getProductUrl }}" target="_blank">
              {{ product.code }}
              <img src="/images/new-tab.svg" width="14px" style="vertical-align:middle"/>
            </a>
          </strong>
        </td>
        <td>
          {% for category in product.getCategory() %}
            <span class="nobr">
              <strong><a href="/product/{{ category.id }}">{{ category.name|upper }}</a></strong>
            </span><br/>
          {% endfor %}
        </td>
        <td>{{ product.description }}</td>
        <td>
          <strong>
            <a href="{{ product.getResourceUrl }}" target="_blank">
              View resource
              <img src="/images/new-tab.svg" width="14px" style="vertical-align:middle"/>
            </a>
          </strong>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
