{% extends 'hardware_test/layout.html.twig' %}

{% block page_contents %}

<p style="width: 200px;">
  <a href="/create_hardware_test"><button class="{{ util.navClass('product') }}" role="button">New Test</button><a>
</p>

<h3>Total HardwareTests: <span style="color: red;">{{ total_hardware_tests }}</span></h3>

<table class="styled-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Product</th>
      <th>Test Status</th>
    </tr>
  </thead>
  <tbody>
    {% for test in hardware_tests %}
      <tr>
        <td>{{ test.id }}</td>
        <td><strong>{{ test.name }}</strong></td>
        <td><strong>{{ test.product.code }}</strong></td>
        <td><strong>{{ test.status.name }}</strong></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
